:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark light;
	--color-fg: rgba(255, 255, 255, 0.87);
	--color-fg-alt: rgba(54, 54, 54, 0.164);
	--color-yellow: rgb(255, 214, 138);
	--color-orange: rgb(227, 143, 79);
	--color-green: hsl(95, 38%, 62%);
	--color-secondary: hsl(240, 1.6%, 88.0%, 40%);
	--color-accent: var(--color-orange);
	--color-bg-alt: rgba(54, 54, 54, 0.164);
	--color-bg: rgba(54, 54, 54, 0.164);
	color: var(--color-fg);
	background-color: var(--color-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: normal;
	/* outline: 1px solid red; */
}
*:focus {
	outline: transparent;
	-webkit-tap-highlight-color: transparent;
}
html {
	height: 100%;
}

a {
	font-weight: 500;
	color: var(--color-accent);
	text-decoration: inherit;
}
a:hover {
	color: var(--color-green);
	text-decoration: underline;
}

body {
	margin: 0;
	display: flex;
	margin: auto;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.card {
	padding: 2em;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@media (prefers-color-scheme: light) {
	:root {
		/* --color-fg: rgba(32, 32, 32, 0.87); */

		--color-fg: rgba(54, 54, 54, 0.164);
		--color-fg-alt: rgba(160, 160, 160, 0.164);
		--color-bg: rgb(241, 241, 241);
		--color-bg-alt: rgb(255, 255, 255);
		color: var(--color-fg);
		background-color: var(--color-bg);
	}
	a:hover {
		color: var(--color-green);
	}
	button {
		background-color: #f9f9f9;
	}
}
